# Watermarked image to decode the watermarl from
IN="images/marked.pgm";

# Secret key
KEY=1234; 

# Original message (for BER computation)
MESSAGE=[ 1 1 1 1 1 1 1 1 ];



######## CORE PARAMETERS BELOW

# Tile size
SZ = 32; 

# Upsampling factor for carriers matrix
UPSAMPLING=4;

# Verbose?
VERBOSE=0;

 
